
body{
  margin: 0;
  background-color:white;
}
.w1-container{
  margin-top:0;
  background-color:#feb72b;
  text-align: center;
  border-style: groove;
  height: auto;
}

.bottom-container{
  height: 110px;
  background-color:#feb72b;
text-align: center;
border-style: groove;
}
.about us.html{

}
